{% extends 'flatpages/default.html' %}
 
{% block title %}
{{ flatpage.title }}
{% endblock title %}
 
{% block content %}
    <h2>{{ flatpage.title }}</h2>
    <hr>
    <h3>Вы можете с нами связаться:</h3>
    <h4>{{ flatpage.content }}</h4>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <h5>Много текста и, возможно, картинок</h5>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <h4>{{ flatpage.content }}</h4>
{% endblock content %}