{% extends 'flatpages/default.html' %}

{% block title %}
{{ flatpage.title }}
{% endblock title %}

{% block content %}
    <h2>{{ flatpage.title }}</h2>
    <hr>
{{ flatpage.content }}
    <p><span style="color: #ff0000;">Разноцветный текст</span></p>
    <p><em>И курсивом</em></p>
    <p><strong>И жирный</strong></p>
    <p><font size="7"> И, даже, большими буквами обозначу картинку:</p>
    <p><img src="https://mobimg.b-cdn.net/v3/fetch/6e/6eb77cd90efdb9e6099ba61ee2bb0841.jpeg" alt="" width="800" height="600" /></p>
{% endblock content %}